/.idea
/.vscode
/api.php
/error.log
/nbproject
/npm-debug.log
/yarn-error.log
/rainloop.sublime-project
/rainloop.sublime-workspace
/node_modules
/.docker/.cache
.DS_Store
/MULTIPLY
/data/backup/*
/data/clamav/*
/data/custom/*
/data/imapsieve_copy/*
/data/mailboxes/*
/data/mlmmj/*
/data/mlmmj-archive/*
/data/mysql/*
/data/postfix-queue/*
/data/sa_rules/*
/data/ssl/*
